body{
    font-family: Arial;
    text-align:center;
    background:#f2f6fa;
}

h1{
    margin-top:20px;
}

button{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin:20px;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:70%;
}

th, td{
    border:1px solid gray;
    padding:8px;
}

#result{
    margin-top:20px;
    font-weight:bold;
    color:#333;
}
